{% extends 'base.html' %} {% load static %} {% block body %}

<div class="main-container">
  <header class="header-icons overlay">
    <div class="background-image-holder parallax-background">
      <img
        class="background-image"
        alt="Background Image"
        src="{%static 'home/img/vinay1.png' %}"
      />
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="text-white">
            Hello, I'm Vinay kumar.<br />I can create&nbsp;<span
              >beautiful design</span
            >&nbsp;for you.
          </h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <i class="icon icon-desktop text-white"></i>
          <h2 class="text-white">Web Design</h2>
        </div>

        <div class="col-sm-3">
          <i class="icon text-white icon-phone"></i>
          <h2 class="text-white">Mobile Design</h2>
        </div>

        <div class="col-sm-3">
          <i class="icon text-white icon-strategy"></i>
          <h2 class="text-white">Marketing strategy</h2>
        </div>
      </div>
    </div>
  </header>

  <section class="skill-bars">
    <div class="container">
      <div class="row">
        <div
          class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center"
        >
          <h1>My skills</h1>
          <p class="lead">
            Software development is hard. Managing projects is hard. Working
            remotely is hard. Here are some things I'm good at, to help ease the
            pain.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="skills-left skills">
            <h3>Design</h3>
            <ul class="skills-ul">
              <li>
                <span>React js</span>
                <div class="skill-bar-holder">
                  <div class="skill-capacity col-xs-11"></div>
                </div>
              </li>

              <li>
                <span>Node js</span>
                <div class="skill-bar-holder">
                  <div class="skill-capacity col-xs-9"></div>
                </div>
              </li>

              <li>
                <span>CSS &amp; Bootstrap</span>
                <div class="skill-bar-holder">
                  <div class="skill-capacity col-xs-7"></div>
                </div>
              </li>

              <li>
                <span>DTP</span>
                <div class="skill-bar-holder">
                  <div class="skill-capacity col-xs-6"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <div class="skills-right skills">
            <h3>Developing</h3>
            <ul class="skills-ul">
              <li>
                <span>Express js</span>
                <div class="skill-bar-holder">
                  <div class="skill-capacity col-xs-11"></div>
                </div>
              </li>

              <li>
                <span>Mongo DB</span>
                <div class="skill-bar-holder">
                  <div class="skill-capacity col-xs-9"></div>
                </div>
              </li>

              <li>
                <span>Python &amp; Django ORM</span>
                <div class="skill-bar-holder">
                  <div class="skill-capacity col-xs-7"></div>
                </div>
              </li>

              <li>
                <span>WordPress</span>
                <div class="skill-bar-holder">
                  <div class="skill-capacity col-xs-6"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="no-pad-bottom projects-gallery">
    <div class="container">
      <div class="row">
        <div
          class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center"
        >
          <div class="media position-relative">
            <div class="media-body">
              <h5 class="mt-0">Checkout my latest Projects</h5>

              <a href="{% url 'creations:portfolio' %}" class="stretched-link"
                >Go to Projects--></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />

    {% endblock %}
  </section>
</div>
