
{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="main-container">
	<section class="map-overlay">
			<div class="map-holder">
				<iframe src="https://goo.gl/maps/kKsvrGXXB1NVESgm8"></iframe>
			</div>
			
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 text-center">
						<div class="details-holder">
							<div class="align-vertical">
								<img alt="Logo" src="{% static 'home/img/vinay22.png'%}">
								<p class="lead">
									kolluvinay425@gmail.com<br>
									ph: +91 8897648240 <br>
                                    whatsapp :+39 3311215396
								</p>
								<p>mudhiraj Street,<br>Bhadrachalam</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	
	

{% endblock %}
		
			
		
			
		
			
		
			
		
			
		
			
		
						
			
		
			
		
			
		
		
		
		