{% extends 'base.html' %} {% load static %} {% block body %}

<div class="main-container">
  <section class="map-overlay">
    <div class="map-holder">
      <iframe src="https://goo.gl/maps/kKsvrGXXB1NVESgm8"></iframe>
    </div>

    <div class="container">
      <div class="row">
        <div
          class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 text-center"
        >
          <div class="details-holder">
            <div class="align-vertical">
              <img alt="Logo" src="{% static 'home/img/vinay22.png'%}" />
              <p class="lead">
                <b>kolluvinay425@gmail.com</b> <br />
                <b>ph: +393450422454</b> <br />
                <b>whatsapp :+919701121664</b>
              </p>
              <p><b>Rome, Italy</b></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}
